/* 
  Typeset.css
  https://github.com/joshuarudd/typeset.css
  v0.9.4
  Last updated: 2013-01-18
  Author: Joshua Rudd - http://joshuarudd.com 
  Twitter: @joshuarudd
*/

//
// Variables
//

// Line Height
$typeset-line-height: 1.4 !default;

// Include a typographical reset
$typeset-reset: true !default;

// Underline links. Set to `false` to turn off.
$typeset-link-decoration: underline !default;

// Adjust the margin of the first child element?
$typeset-adjust-first-margin: true !default;

@if ($typeset-reset) {

  /*
    Reset .typeset element styles to avoid unwanted inheritance
  */

  .typeset {
    line-height: 1.0;
    text-rendering: optimizeLegibility;
  }

  /* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
  .typeset * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* Adapted from Eric Meyer's CSS Reset: http://meyerweb.com/eric/tools/css/reset/ */
  .typeset {
    a, abbr, acronym, address, b, big, cite, code, del, em, i, ins, kbd, mark, output, q, ruby, s, samp, small, strike, strong, sub, sup, time, tt, u, var,
    dfn, dl, dt, dd, ol, ul, li,
    blockquote, h1, h2, h3, h4, h5, h6, p, pre,
    table, caption, tbody, tfoot, thead, tr, th, td,
    applet, canvas, embed, figure, figcaption, iframe, img, object {
      background: transparent;
      border: 0;
      font-size: 100%;
      font: inherit;
      line-height: 1.0;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
    }
  }
}

/*
  Initialize spacing and colors
*/

.typeset {

  li, dt, dd, p, pre, caption, th, td, figcaption {
    line-height: $typeset-line-height;
  }

  caption, dl, dd, div, figcaption, figure, h1, h2, h3, h4, h5, h6, p, pre, table, ol, ul {
    margin: $typeset-line-height+em 0;
  }

  blockquote, ol, ul {
    margin-left: $typeset-line-height*2+em;
  }

  code, pre, th {
    background-color: #F3F6FA;
  }

  code, pre, th, td {
    color: #324354;
  }

  pre, table, th, td {
    border: 1px solid #DBE2F2;
  }

}

/*
  Inline elements
*/

.typeset {

  @if ($typeset-link-decoration) {
    a {
      text-decoration: $typeset-link-decoration;
    }
  }

  strong, b {
    font-weight: bolder;
  }

  u, em, i {
    font-style: italic;
    text-decoration: none;
  }

  abbr[title] {
    border-bottom: 1px dotted gray;
  }

  address {
    /* no style */
  }

  cite {
    font-style: italic;
  }

  code {
    /* background-color set above */
    /* color set above */
    font-family: monospace;
    padding: .1em .2em;
  }

  dfn {
    /* no style */
  }

  del {
    color: red;
    text-decoration: line-through;
  }

  ins {
    color: green;
    text-decoration: none;
  }

  kbd {
    font-family: monospace;
  }

  mark {
    background-color: yellow;
    color: black;
  }

  samp {
    font-family: monospace;
  }

  small {
    color: gray;
    font-size: 80%;
  }

  s {
    text-decoration: line-through;
  }

  sub {
    font-size: 80%;
    vertical-align: sub;
  }

  sup {
    font-size: 80%;
    vertical-align: super;
  }

  var {
    font-style: italic;
  }

}

/*
  Lists
*/

.typeset {

  ol, ul {
    /* margin set above */
  }

    ol ol, ul ul, ol ul, ul ol {
      margin-top: 0;
      margin-bottom: 0;
    }

  ol {
    list-style: decimal;
  }

    ol ol {
      list-style: lower-alpha;
    }
    
      ol ol ol {
        list-style: lower-roman;
      }
      
        ol ol ol ol {
          list-style: decimal;
        }

  ul {
    list-style: square;
  }

  li {
    /* line-height set above */
  }

  dl {
    /* margin set above */
  }

  dt {
    font-weight: bold;
    /* line-height set above */
  }

  dd {
    /* line-height set above */
    margin-top: 0;
  }

}

/*
  Block-level elements
*/

.typeset {

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    /* margin set above */
    margin-bottom: 0;
  }
  h1 {
    font-size: 200%;
  }
  h2 {
    font-size: 160%;
  }
  h3 {
    font-size: 120%;
  }
  h4 {
    font-size: 100%;
  }
  h5 {
    font-size: 80%;
  }
  h6 {
    font-size: 80%;
    font-weight: normal;
  }

  p {
    /* line-height set above */
    /* margin set above */
  }

  blockquote {
    /* margin-left set above */
  }

  pre {
    /* background-color set above */
    /* border set above */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    /* color set above */
    display: block;
    font-family: monospace;
    font-size: 12px;
    /* line-height set above */
    /* margin set above */
    max-width: 100%;
    overflow: scroll;
    padding: .7em;
    /* Mozilla, since 1999 */
    white-space: -moz-pre-wrap !important;
    /* css-3 */
    white-space: pre-wrap;
  }

}

/*
  Tables
*/

.typeset {

  table {
    /* border set above */
    border-collapse: collapse;
    /* margin set above */
    table-layout: auto;
  }

  caption {
    caption-side: top;
    font-weight: bold;
    /* line-height set above */
    /* margin set above */
    margin-top: 0;
    text-align: left;
  }

  thead {
    /* no style */
  }

  tbody {
    /* no style */
  }

  tfoot {
    /* no style */
  }

  th, td {
    /* border set above */
    /* color set above */
    /* line-height set above */
    padding: .7em;
    text-align: left;
  }

  th {
    /* background-color set above */
    font-weight: normal;
  }

  td {
    /* no style */
  }

}

/*
  Media
*/

.typeset {

  embed, iframe, img, object {
    display: inline;
    max-width: 100%;
  }

  figure {
    display: block;
    max-width: 100%;
    /* margin set above */
  }

  figcaption {
    font-size: 80%;
    /* line-height set above */
    /* margin set above */
    text-align: left;
  }

}

@if ($typeset-adjust-first-margin) {
  /*
    Cleanup
  */

  /* Remove top-margin from first element in typeset block so that it can align with other parts of the page */
  .typeset {
    > :first-child {
      margin-top: 0;
    }
  }
}