$body-bg-color            : #ffffff;
$primary-bg-hover-color   : #ffc9c7;
$primary-bg-color         : #e56e6a;
$primary-text-color       : #343434;
$primary-text-hover-color : #ffffff;
$white-color              : #ffffff;
$custom-font-family: 'open-sans', sans-serif;