#footer.center
    | &copy; 2015 <a href="https://github.com/tooling/book-of-modern-frontend-tooling">The Front-end Tooling Book</a> Authors. Brought to you with love by the <a href='https://github.com/tooling/book-of-modern-frontend-tooling/graphs/contributors'>community</a>. Released under a CC-BY-SA-4.0 license.
